

.react-daterange-picker__wrapper{
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(218, 218, 218, 0.5);
    border-radius: 24.5px;
    height: 37px;
    border: none;
}
.react-daterange-picker__inputGroup {
    min-width: unset;
    padding: 0 37px;
}
.react-daterange-picker__inputGroup__input{
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #DADADA;
}
span.misscall i{
    color: rgba(255, 54, 54, 0.78);
    font-size: 18px;
}
span.alarmoff {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(218, 218, 218, 0.5);
    border-radius: 10px;
}
.alarmoff i{
    color:#EB5545;
    font-size: 20px;
}
.feezero{
    color: #EB5545;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.rateamt{
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #7BAFFD;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
span.callreceive i{
    color: #7BAFFD;
    font-size: 18px;
}
.alarmon{
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(218, 218, 218, 0.5);
    border-radius: 10px;
}
.alarmon i{
    color: #4EF185;
    font-size: 20px;
}
.feeamt{
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #4EF185;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
span.callmade i{
    color: #7BAFFD;
    font-size: 18px;
}
span.missoutgoing i{
    color: rgba(255, 54, 54, 0.78);
    font-size: 18px;
}

.btn-secondary.dropdown-toggle{
    background-color: #7BAFFD !important;
}
.btn-secondary.dropdown-toggle:hover, .btn-secondary.dropdown-toggle:focus{
    background-color: #7BAFFD !important;
}
// table.table.my-expand {
    
//     // display: flex;
//     // width: 0;
// }
img.userPic {
    width: 25px !important;
    height: 20px !important;
    display: -webkit-inline-box;
}
p.username {
    position: relative;
    display: contents;
}
.voicepulse {
    height: 15px !important;
    width: 12px !important;
    margin-left: 2px;
}
.userfiledoc i{
    position: relative;
    color: #7BAFFD;
}
p.userPhone {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 19px;
    color: #dee2e6;
    position: absolute;
    margin-left: 30px;
    margin-top: -4px;
}
tr.custom-trall-expand{
    // box-shadow: 5px 5px 15px rgba(218, 218, 218, 0.5);
    padding: 10px;
    // background: #f3f4fa;
    // display: flex;
}
tr.custom-trall-expand td{
    background: #FFFFFF !important;
    // width: -webkit-fill-available !important;
}
.inputvoice {
    // position: absolute;
    // transform: translate(18px, 352px);
    border-bottom: none !important;
    margin: 10px 0 6px 17px;
}
input.inputstyle {
    width: 82%;
    height: 29px;
    background: linear-gradient(91.85deg, #7BB7FD 0.02%, #5D4FB5 81.13%);
    border-radius: 20px;
    border: 1px solid #7BAFFD;
    padding: 0 30px 0 14px;
    color: #ffffff;
    
}
input.inputstyle::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    text-align: right;
    padding-right: 0px;
}
input.inputstyle::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}
input.inputstyle:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
input.inputstyle:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}
.voicechat span i{
    color: #ffffff;
    position: absolute;
    margin: 4px -26px;
    font-size: 20px;
}
.voicechat .icuploader i{
    position: absolute;
    color: #7BAFFD;
    box-shadow: 2px 2px 5px #DADADA;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font-size: 35px;
    margin: -5px 10px;
}
.custom-trall-class{
    // display: flex;
    box-shadow: 5px 5px 15px rgba(218, 218, 218, 0.5);
    padding: 10px;
    background: #f3f4fa;
}
.custom-trall-class td{
    background: #FFFFFF !important;
    width: -webkit-fill-available !important;
}
.custom-tdall-class {
    background: #f3f4fa;
    width: -webkit-fill-available !important;
}
:focus {
    outline: -webkit-focus-ring-color none;
    outline-color: -webkit-focus-ring-color;
    outline-style: none;
    outline-width: unset;
}
.custom-header-class {
    float: right;
    border-bottom: none !important;
}
.table-bordered td, .table-bordered th{
    border-top:1px solid #dee2e6;
}
.table th, .table td{
    border:none;
    border-top:1px solid #dee2e6;
    border-bottom:none;
}
.custom-header-class i{
    display: grid;
    width: 38.92px;
    height: 38.92px;
    background: #7BAFFD;
    box-shadow: 2px 2px 5px #DADADA;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font-size: 21px;
    margin: 0 !important;
}
.custom-header-class i::before{
    color: #FFFFFF;
}
.custom-header-class span{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #C4C4C4;
    align-items: center;
    margin-top: 14px !important;
    display: flex;
}